<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TimeTracker" connectionString="Server=localhost;Initial Catalog=TimeTracker;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringFormat" value="Server=localhost;Initial Catalog={0};Integrated Security=SSPI;"/>
  </appSettings>
</configuration>