<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TimeTracker" connectionString="Server=localhost;Initial Catalog=TimeTracker;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="LocalConnectionFormat" value="Server=localhost;Initial Catalog={0};Integrated Security=SSPI;"/>
    <add key="RemoteConnectionFormat" value="Server={0};User Id={1};Password={2};Database={3};"/>
    <add key="SqlServerNumericDataType" value="int,bit,tinyint,smallint,decimal,bigint,money"/>
  </appSettings>
</configuration>